<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tr>
    <th>Name</th>
  <td><%= user.name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>favorite</th>
    <td><%= link_to favorites_user_path(user.id) do %>
    <%= render "favorites/favorite_count",user: user %>いいね
    <% end %>
    </td>
  </tr>
  <tr>
    <th>follow</th>
    <td>
      <%= link_to user_followings_path(user.id) do %>
      <%= user.followings.count %>人
      <% end %>
      </td>
  </tr>
  <tr>
    <th>follower</th>
    <td>
      <%= link_to user_followers_path(user.id) do %>
      <%= user.followers.count %>人
      <% end %>
      </td>
  </tr>
</table>

<div class="row">
  <% if user.id == current_user.id %>
  <%= link_to edit_user_path(user.id),class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
  <% end %>
  <% else %>
    <span id="follow_btn_<%= user.id %>">
      <%= render "relationships/follow",user: user %>
    </span>
    <% end %>
</div>