<h1><%= @user.name %>のいいね一覧</h1>

<table class="table">
        <tbody>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Title</th>
            <th colspn="2"></th>
          </tr>

          <% @favorite.each do |favorite| %>
          <tr>
            <td><%= image_tag favorite.user.get_profile_image(100,100) %></td>
            <td>
               <%= link_to user_path(favorite.user.id) do %>
              <%= favorite.user.name %>
              <% end %>
              </td>
            <td>
              <%= favorite.title %>
            </td>
            <td><%= favorite.body %></td>

          </tr>
          <% end %>
        </tbody>
      </table>