<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">
<%= render 'users/user_info',user: @user %>
<%= render 'new',book: @book_new %>
</div>
<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table class="table table-striped">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th colspan="4"></th>
  </tr>
  <tr>
    <td>
      <%= link_to user_path(@book.user_id) do %>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <% end %>
      </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td id="comment_count"><%= render "book_comments/comment_count",book: @book %></td>
    <td><%= render "favorites/favorite_count",book: @book %></td>
    <% if @book.user_id == current_user.id %>
    <td><%= link_to "Edit",edit_book_path(@book.id),class: "btn btn-success" %></td>
    <td><%= link_to "Destroy",book_path(@book.id),method: :delete,"data-confirm"=>"後悔しませんね？",class: "btn btn-danger" %></td>
    <% else %>
    <td id="favorite_btn_<%= @book.id %>">
             <%= render "favorites/favorite", book: @book %>
           </td>
    <td></td>
    <% end %>
  </tr>
</table>
    <h2>コメント一覧</h2>

　　<div id="post-comments">
    <%= render "book_comments/comment" , { book: @book } %>
    </div>

　　<%= form_with model: [@book,@comment],local: false do |f| %>
　　<%= f.text_area :comment,rows: "5",placeholder: "コメントを記入",class: "form-control" %>
　　<div class="d-grid gap-2 d-md-flex justify-content-md-end">
　　<%= f.submit "送信",class: "btn btn-primary" %>
　　</div>
　　<% end %>
</div>
</div>
</div>